.spinner {
  display: inline-block;

  border: 3px solid transparent;
  border-top-color: currentColor;

  border-radius: 50%;

  animation: spinner 0.8s linear infinite;
}

.spinner--small {
  width: 16px;
  height: 16px;
}

.spinner--medium {
  width: 20px;
  height: 20px;
}

.spinner--large {
  width: 28px;
  height: 28px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}